In [2]:
import pandas as pd

In [1]:
import os
from glob import glob

In [ ]:
df_1 = pd.read_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 용의자 지역 데이터/TCH_33_20220131_C_001.csv', index_col=0)

In [ ]:
df_1

        경기도  남양주시  20220101001217305881
1
2     대전광역시    중구  20220101001848325825
3     서울특별시   송파구  20220101003034342843
4     서울특별시    중구  20220101004519356854
5     서울특별시    중구  20220101004645373647
6       경기도   화성시  20220101013631387398
...     ...   ...                   ...
1613  서울특별시   송파구  20220131194132363689
1614    강원도   춘천시  20220131204440377093
1615  대구광역시   달서구  20220131222735405932
1616    경기도  의정부시  20220131223445432266
1617  서울특별시   강남구  20220131231850462171

[1616 rows x 3 columns]

In [3]:
def change_date(df_data):
  return pd.to_datetime(df_data.map(lambda x : f'{x[:4]}-{x[4:6]}-{x[6:8]}'))

In [4]:
file_join_1 = os.path.join('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 용의자 지역 데이터', 'TCH_33_2*.csv')
list_files_1 = glob(file_join_1)

In [15]:
columns_name = ['WDAR_CTPR_NM', 'LEGAL_SIGUNGU_NM', 'RGSTN_DT']
df_1 = pd.DataFrame(columns=columns_name)

for file in list_files_1:
  f = pd.read_csv(file, names=columns_name)
  df_1 = pd.concat([df_1, f], ignore_index = True)

In [19]:
df_1['RGSTN_DT'] = change_date(df_1['RGSTN_DT'])

In [24]:
df_1 = df_1.sort_values('RGSTN_DT').reset_index(drop='index')

In [25]:
df_1.to_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/TCH_Suspect_Resion.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_1_back = df_1.groupby(['RGSTN_DT', 'WDAR_CTPR_NM'])['LEGAL_SIGUNGU_NM'].value_counts().to_frame()

In [ ]:
df_1_back

                                          LEGAL_SIGUNGU_NM
RGSTN_DT   WDAR_CTPR_NM LEGAL_SIGUNGU_NM
2022-01-01 EastJava     Surabaya                         1
           경기도          화성시                              2
                        구리시                              1
                        남양주시                             1
                        성남시수정구                           1
...                                                    ...
2023-01-31 충청남도         보령시                              1
                        예산군                              1
           충청북도         괴산군                              1
                        청주시서원구                           1
                        청주시흥덕구                           1

[19232 rows x 1 columns]

In [ ]:
df_1_r = pd.DataFrame(
    data=[[data[0], data[1], data[2]] for data in df_1_back.index],
    columns=['RGSTN_DT','WDAR_CTPR_NM', 'LEGAL_SIGUNGU_NM']
)

In [ ]:
df_1_r['COUNT'] = df_1_back.values

In [ ]:
df_1_r.to_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 용의자 지역 데이터/TCH_33.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_2 = pd.read_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 용의자 통신사 데이터/TCH_35_20220131_C_001.csv')

In [ ]:
df_2

         1  Korea Telecom  20220101001217637046
0        2  Korea Telecom  20220101001848652920
1        3  Korea Telecom  20220101003034667572
2        4     SK Telecom  20220101004519676841
3        5     SK Telecom  20220101004645693591
4        6  Korea Telecom  20220101013631707693
...    ...            ...                   ...
1611  1613  Korea Telecom  20220131194132614937
1612  1614  Korea Telecom  20220131204440631127
1613  1615  Korea Telecom  20220131222735657269
1614  1616          DLIVE  20220131223445670130
1615  1617      LGTELECOM  20220131231850696558

[1616 rows x 3 columns]

In [8]:
file_join_2 = os.path.join('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 용의자 통신사 데이터', 'TCH_35_2*.csv')
list_files_2 = glob(file_join_2)

In [13]:
columns_name = ['RSRC_INTNT_SRVIC_OFR', 'RGSTN_DT']
df_2 = pd.DataFrame(columns=columns_name)

for file in list_files_2:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_2 = pd.concat([df_2, f], ignore_index = True)

In [14]:
df_2

      RSRC_INTNT_SRVIC_OFR              RGSTN_DT
0               SK Telecom  20230101000000769965
1                LGTELECOM  20230101000323778683
2            Korea Telecom  20230101003301802828
3               SK Telecom  20230101014348607537
4            Korea Telecom  20230101020051624629
...                    ...                   ...
28005         LG POWERCOMM  20220430220153322269
28006            LGTELECOM  20220430232317338954
28007            LGTELECOM  20220430232727351824
28008         LG POWERCOMM  20220430234955364788
28009            LGTELECOM  20220430235030396475

[28010 rows x 2 columns]

In [26]:
df_2['RGSTN_DT']=change_date(df_2['RGSTN_DT'])

In [27]:
df_2

      RSRC_INTNT_SRVIC_OFR   RGSTN_DT
0               SK Telecom 2023-01-01
1                LGTELECOM 2023-01-01
2            Korea Telecom 2023-01-01
3               SK Telecom 2023-01-01
4            Korea Telecom 2023-01-01
...                    ...        ...
28005         LG POWERCOMM 2022-04-30
28006            LGTELECOM 2022-04-30
28007            LGTELECOM 2022-04-30
28008         LG POWERCOMM 2022-04-30
28009            LGTELECOM 2022-04-30

[28010 rows x 2 columns]

In [28]:
df_2.to_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/TCH_Suspect_Phone.csv', index=False, encoding='utf-8-sig')

In [ ]:
df_2 = df_2.drop_duplicates('RSRC_INTNT_SRVIC_OFR',ignore_index=True)

In [ ]:
df_2 = df_2[['RGSTN_DT', 'RSRC_INTNT_SRVIC_OFR']]

In [ ]:
df_2

      RGSTN_DT                     RSRC_INTNT_SRVIC_OFR
0   2023-01-01                               SK Telecom
1   2023-01-01                                LGTELECOM
2   2023-01-01                            Korea Telecom
3   2023-01-01                      SK Broadband Co Ltd
4   2023-01-01                             LG POWERCOMM
..         ...                                      ...
137 2022-04-04   NATIONAL INFORMATION RESOURCES SERVICE
138 2022-04-08        Data Communication Business Group
139 2022-04-18   Gyeonggi Uijeongbu office of Education
140 2022-04-20  Gyeonggido Seongnam Office of Education
141 2022-04-26                       Exponential-E Ltd.

[142 rows x 2 columns]

In [ ]:
df_2.to_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 용의자 통신사 데이터/TCH_35.csv', index=False, encoding='utf-8-sig')

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 피해 용의자의 성별 지역 데이터/TCH_37_20220131_C_001.csv')

In [ ]:
df

         1  남자    경기도  남양주시  20220101001217042551
0        2  남자  대전광역시    중구  20220101001848058468
1        3  남자  서울특별시   송파구  20220101003034078142
2        4  남자  서울특별시    중구  20220101004519085333
3        5  남자    경기도   화성시  20220101004613099898
4        6  남자  서울특별시    중구  20220101004645123409
...    ...  ..    ...   ...                   ...
2271  2273  남자    경기도  의정부시  20220131223445500499
2272  2274  여자  대전광역시   유성구  20220131231101521075
2273  2275  여자  대전광역시   유성구  20220131231313532507
2274  2276  남자  서울특별시   강남구  20220131231850577297
2275  2277  여자  대전광역시   유성구  20220131234504587971

[2276 rows x 5 columns]

In [ ]:
file_join_3 = os.path.join('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 피해 용의자의 성별 지역 데이터', 'TCH_37_2*.csv')
list_files_3 = glob(file_join_3)

In [ ]:
columns_name = ['SEX', 'WDAR_CTPR_NM', 'LEGAL_SIGUNGU_NM', 'RGSTN_DT']
df_3 = pd.DataFrame(columns=columns_name)

for file in list_files_3:
  f = pd.read_csv(file, names=columns_name, index_col=0)
  df_3 = pd.concat([df_3, f], ignore_index = True)

In [ ]:
df_3['RGSTN_DT'] = change_date(df_3['RGSTN_DT'])
df_3

      SEX WDAR_CTPR_NM LEGAL_SIGUNGU_NM   RGSTN_DT
0      남자        울산광역시               중구 2022-10-24
1      남자        서울특별시              강남구 2022-10-20
2      남자        서울특별시              금천구 2022-10-11
3      남자        서울특별시              금천구 2022-10-11
4      남자        서울특별시              금천구 2022-10-11
...    ..          ...              ...        ...
38658  남자        대구광역시               북구 2022-03-31
38659  남자        서울특별시              강남구 2022-03-31
38660  여자        대구광역시              달서구 2022-03-31
38661  남자        서울특별시              송파구 2022-03-31
38662  남자          강원도              춘천시 2022-03-31

[38663 rows x 4 columns]

In [ ]:
df_3 = df_3[['RGSTN_DT', 'SEX'	,'WDAR_CTPR_NM'	,'LEGAL_SIGUNGU_NM']]

In [ ]:
df_3

        RGSTN_DT SEX WDAR_CTPR_NM LEGAL_SIGUNGU_NM
0     2022-10-24  남자        울산광역시               중구
1     2022-10-20  남자        서울특별시              강남구
2     2022-10-11  남자        서울특별시              금천구
3     2022-10-11  남자        서울특별시              금천구
4     2022-10-11  남자        서울특별시              금천구
...          ...  ..          ...              ...
38658 2022-03-31  남자        대구광역시               북구
38659 2022-03-31  남자        서울특별시              강남구
38660 2022-03-31  여자        대구광역시              달서구
38661 2022-03-31  남자        서울특별시              송파구
38662 2022-03-31  남자          강원도              춘천시

[38663 rows x 4 columns]

In [ ]:
df_3.to_csv('/content/drive/MyDrive/Project_2/Data/용의자 모음/금융사기 피해 용의자의 성별 지역 데이터/TCH_37.csv', index=False, encoding='utf-8-sig')